@import 'vars.scss';

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.article-content {
  background-color: #ffffff;
  border: 2px solid #101010;
  border-top: 0;
  text-align: justify;
  padding: 30px 100px 30px;
  font-family: 'PT Serif', serif;
  font-weight: 400;
  color: $articleFontColor;

  p {
    margin: 1em 0 0 0;
    font-size: 18px;

    &::selection {
      background-color: $articleSelectionColor;
    }
  }

  i {
    &::selection {
      background-color: $articleSelectionColor;
    }
  }

  b {
    &::selection {
      background-color: $articleSelectionColor;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 1.5em 0;

    &::selection {
      background-color: $articleSelectionColor;
    }
  }

  a {
    color: $articleLinkColor;
    text-decoration: none;
    font-weight: 900;

    &:visited {
      color: $articleVisitedLinkColor;
    }

    &:active {
      color: $articleActiveLinkColor;
    }

    &::selection {
      background-color: $articleSelectionColor;
    }
  }

  mark {
    &::selection {
      background-color: $articleSelectionColor;
    }
  }

  code {
    &::selection {
      background-color: $articleSelectionColor;
    }
  }

  h1 {
    text-align: center;
  }

  ul, ol {
    list-style-position: inside;
    padding-left: 0;

    li {
      &::selection {
        background-color: $articleSelectionColor;
      }
    }
  }

  td {
    &::selection {
      background-color: $articleSelectionColor;
    }
  }

}
