$textColor: #4b4b4b;
$bgColor: #f8f8f8;

$navTextColor: #ffffff;
$navHeight: 120px;

// Articles:
$articleThumbnailWidth: 250px;
$articleThumbnailHeight: 150px;

$logoColor: #ffe051;

// Article:
$articleFontColor: #161616;
$articleSelectionColor: #b3d4fb;
$articleLinkColor: #036177;
$articleVisitedLinkColor: #3b035a;
$articleActiveLinkColor: #11aacd;
